@font-face {
    font-family: "Geist";
    src: url("/fonts/Geist-Regular.otf");
    font-weight: normal;
}

@font-face {
    font-family: "Geist";
    src: url("/fonts/Geist-Bold.otf");
    font-weight: bold;
}

.button, .column, .input, .label, .title, .text-area, .error-tag, .page-title {
    -fx-font-family: "Geist";
}

.page-title {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.button, .input {
    -fx-pref-height: 32px;
}

.title {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}

.text-area {
    -fx-pref-height: 64px;
}

.text-notable {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

.error-tag {
    -fx-font-size: 12px;
}